<%= stylesheet_link_tag 'pages', media: "all" %><!--use pages.scss to style this view-->
<div class="page-container">
    
    <h1>Web Design</h1>
    <div class="word-wrap1">
        Web design is the process of making a website. It involves webpage layout, content production, and graphic design. It should be a reflection of your organization crafted to promote interaction, provide a unique user experience, and achieve certain business objectives.
    </div><!-- word-wrap -->

</div><!-- page-container -->