<%= stylesheet_link_tag 'pages', media: "all" %><!--use pages.scss to style this view-->
<div class="page-container">
    
    <h1>Web Development</h1>
    <div class="word-wrap2">
        Web development is the programming of client (frontend) and server side (backend)  components of a web application (or website) to provide certain functionality as envisioned and specified by your organization. It involves web design and user interface creation as well. It is sometimes referred to as full stack development.
    </div><!-- word-wrap -->

</div><!-- page-container -->