/* Variables & Mixins */

$charcoal: #222;
$grey: #555;
$light-grey: #eaeaea;
$medium-light-grey: #e6e6e6;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* Debug */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
} /* end - variables */


/* universal */

body {
  padding-top: 20px;
  background-image: image-url("Brooklyn-Bridge-Under-Construction-1883.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: black;
  h1 {
  margin-bottom: 10px;
  }
}

// .container-fluid {
//   display: inline;  
// }

/* added to address problems w/ bootstrap-sass */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.outer {
  padding: 30px;
}

.inner {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 20px;
  border-radius: 45px;
  h1 {
  margin-bottom: 10px;
  }
  &:hover {
    background-color: rgb(230,230,230);  // #a4a4a4
    color: black;
    font-size: 0.7em;
    margin: 10% 30% 0 35%;
  }
}

.home-container {
  width: 100%;
  height: 100%;
}

/* end - universal */


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $grey;
}

#motto {
  font-family: "Milkshake", cursive;  
  font-size: 2.25em;
  color: black;
  text-align: center;
}

h3 {
    
    font-family: "Bitter", sans-serif;
    font-size: 2em;
    color: black;
    text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* end - typogrphy */


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-family: "Handel Gothic", "Geneva", sans-serif !important;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: white;
  text-decoration: none;
  }
}

/* end - header */

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  color: $charcoal;
  
  small {
    float: center;
  }

  ul {
  float: right;
  list-style: none;
    li {
    float: left;
    margin-left: 15px;
    }
  } /* ul */


  a {
    color: $charcoal;
  
    &:hover {
    color: $grey;
    }
  }
  
}

/* end - footer */

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* end - forms */

/* email table */

.tg  {
  border-collapse:collapse;
  border-spacing:0;
  
}

.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}

.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}

.tg .tg-ohy5{
  font-size:14px;
  border-color:inherit;
  text-align:left
}

.tg .tg-zd5i{
  font-size:14px;
  border-color:inherit;
  text-align:left;
  vertical-align:top
}

/* end - email table */