<footer class="footer">
  <small>
    Copyright &copy 2018<a href="http://www.techhandie.com/"> | TechHandie Corporation. All rights reserved.</a>
    | </a>
  </small>
  <%= link_to "Help", help_path %>
</footer>